.menu {
    
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 5px 0 10px black;
    border-bottom: 1px solid #fff;
}
.menu__logo img  {
    float: left;
    height: 3rem;
}
.menu__logo {
    padding-left: 1rem;
   
    font-size: 1.5rem;
}
.menu__items{
    
    display: flex; 
    list-style: none;
    justify-content: space-around
}
.menu__items > li > a{   /*todo esto es agregado*/
    display: block;
    padding:  15px 20px;  
    text-decoration: none;
}

.menu__items > li:hover{
    background-color: #3866f2;
    color: white
 }

.menu__items li a {
    text-decoration: none;
}
.menu__vertical{
    width: 8.29rem;
    display: none;
    list-style: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
}
.menu__items li:hover .menu__vertical{
    display: block;
}
.menu__vertical li:hover{
    background-color: black; 
    
}
.menu__vertical li a{
    opacity: .9;
    display: block;
    
   background-color: #3866f2;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
}

#modo{
    height: 4rem;
    transition: .3s;
}
#modo:hover{
    height: 3rem;
    opacity: .8;
    background-color: #3866f2;
    border-radius: 1rem;
}

.menu__modo{
    position: absolute;
    right: 0;
    margin-right: 1rem;
}