@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto+Condensed:ital,wght@0,400;1,300;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Hurricane', cursive;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(https://img.freepik.com/foto-gratis/manzana-habitacion-sucia-pintura-patron_1203-5709.jpg?t=st=1650431700~exp=1650432300~hmac=5e45cb04aa84f4b6d6b5f9d299b6e5c121fa0b1a3062898df2ebfddec2aec470&w=1380);
    background-size: cover;
    min-height: 100vh;
}


.section{
    float: right;
    width: 85%;
}
.section .portada{
    position: relative;
    width: 100%;
    height: 51.3rem;
    
}